
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5" data-aos="fade-up" data-aos-delay="">
                <div class="block-heading-1">

                    <h2>LIÊN HỆ CHÚNG TÔI</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                <form action="#" method="post">
                    <div class="form-group row">
                        <div class="col-md-6 mb-4 mb-lg-0">
                            <input type="text" class="form-control" placeholder="Tên">
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Họ">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <textarea name="" id="" class="form-control" placeholder="Nội dung" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 mr-auto">
                            <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Gửi">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
                <div class="bg-white p-3 p-md-5">
                    <h3 class="text-black mb-4">THÔNG TIN LIÊN LẠC</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block mb-3">
                            <span class="d-block text-black">Địa chỉ:</span>
                            <span>202/21 Lý Thường Kiệt, phường 14, quận 10, thành phố Hồ Chí Minh</span>
                        </li>
                        <li class="d-block mb-3"><span class="d-block text-black">Số điện thoại:</span><span>0327 373 434</span></li>
                        <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>tranthiphuong061298ht@gmail.com</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

